html {
  font-family: "Livvic", sans-serif;
  background-color: #f6f6f6;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a {
  color: #0860e3;
}

a:hover, a:active, a:focus {
  color: #094aab;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(54, 54, 54);
  font-family: "Cabin Sketch", cursive;
}
