---
import Navigation from '../components/Navigation.astro';

export interface Props {
  siteTitle: string;
}

const { siteTitle } = Astro.props;
---

<header class="header">
  <h1>{siteTitle}</h1>
  <Navigation />
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
</style>
