---
import Header from '../components/Header.astro';
import '@fontsource/cabin-sketch';
import '@fontsource/livvic';
import '../styles/global.css';

const siteTitle = 'TinyAstro Blog';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
  </head>
  <body>
    <Header siteTitle={siteTitle} />
    <slot />
  </body>
</html>
